
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
  </div>
  
  <nav class="navbar navbar-light bg-light">
  <ul class='nav nav-pills'>
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a></li>
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/students']">Students</a></li>
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/enrollments']">Enrollments</a></li>
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/studentIscr']">Enrollments1</a></li>
  
  </ul> 
  </nav>
  <div class="container">
   
    <router-outlet></router-outlet>
  </div>