<div class='card' *ngIf='student'>
    <div class='card-header'>
        {{title}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Nome:</div>
                    <div class='col-md-8'>{{student.nome}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Cognome:</div>
                    <div class='col-md-8'>{{student.cognome}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Codice fiscale:</div>
                    <div class='col-md-8'>{{student.codiceFiscale}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Data di nascita:</div>
                    <div class='col-md-8'>{{student.dataDiNascita}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Indirizzo:</div>
                    <div class='col-md-8'>{{student.indirizzo}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Mail:</div>
                    <div class='col-md-8'>{{student.mail}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Telefono:</div>
                    <div class='col-md-8'>{{student.telefono}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Titolo di studio:</div>
                    <div class='col-md-8'>{{student.titoloDiStudio}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Sesso:</div>
                    <div class='col-md-8'>{{!student.sesso ? 'femmina': 'maschio'}}</div>
                </div>



            </div>
        </div>

        <div class='card-footer'>
            <div class="form-group row mb-2">
                <div class="col-md-1">
                    <button class='btn btn-outline-secondary' routerLinkActive="active" [routerLink]="['/enroll', student.id]" style='width:80px'>
                        <i class='fa fa-chevron-left'></i> Enroll
                    </button>
                </div>
                <div class="offset-md-1 col-md-1">
                    <button class='btn btn-outline-secondary' routerLinkActive="active" [routerLink]="['/studentUpdate', student.id]" style='width:80px'>
                        <i class='fa fa-chevron-left'></i> Update
                    </button>
                </div> 
                <div class="offset-md-1 col-md-1">
                    <button class='btn btn-outline-secondary' (click)='beforeDelete(student.id)' style='width:80px'>
                        <i class='fa fa-chevron-left'></i> Delete
                    </button>
                </div>
                <div class="offset-md-1 col-md-1">
                    <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
                        <i class='fa fa-chevron-left'></i> Back
                    </button>
                </div>
            </div>
        </div>
        
    </div>